[GENERAL]
Port={{ monyog_port }}
Password={{ monyog_Password}}
Data_path={{ monyog_Data_Path}}
Registration_name={{ monyog_registration_name }}
Key={{ monyog_registration_key }}
Install_id={{ monyog_registration_install_id }}
JSRuntime_size= {{ monyog_jsruntime_size }}
